<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_tag("/users/create") do %>
          <p>ユーザー名</p>
          <!-- value属性を用いて、初期値を設定してください -->
          <input name="name" value="<%= @user.name %>">
          <p>メールアドレス</p>
          <!-- value属性を用いて、初期値を設定してください -->
          <input name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <!-- パスワード用のフォームを追加してください -->
          <input type="password" name="password" value="<%= @user.password %>">
          <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</div>