<div class="top-wrapper">
  
    <a href="#" class="title">Study Partner</a>
    <h5>スタディパートナーは生徒と家庭教師をつなぐ、個人契約のマッチングサイトです</h5>
    <p>入会金・年会費・管理費は一切かかりません</p>
    <%= link_to "さっそく家庭教師を探してみよう", "/teachers/index", class:"btn-square-shadow" %>
</div>

<div class="index-wrapper">
  
  <h4>Study Partnerが選ばれる理由</h4>
  
    <h6><span class="marker-yellow">　1.「おトク」で「安心」な料金</span></h6>
    <p>大手予備校や塾では入会金・年会費・管理費として数十万円かかりますが、
    スタディパートナーではそれらの料金は一切発生致しません。
    <br>
    サイト利用料として9,800円が発生致しますが、利用料をお支払いいただければ、
    何人でも何通でもメッセージを送ることができます。<br>
    お支払い情報に関しましては、国内最大手の決済代行会社にて厳重に管理され、
    トラブルなしの安心決済システムになっています。</p>
  
    <h6><span class="marker-yellow">　2.希望の授業を「好きな場所」「好きな時間帯」で受けられる</span></h6>
    <p>生徒に合ったペースの授業を家庭教師と相談しながら受けられるのが、予備校や塾にはない家庭教師のメリットです。<br>
      「テスト直前や長期休暇の間は、授業をもっと多くしてほしい」という声にも、家庭教師なら応えることができます。
    </p>
  
    <h6><span class="marker-yellow">　3.「お兄さん・お姉さん」のような家庭教師が選び放題</span></h6>
    <p>やる気や成績に大きな影響を与える要因の一つに家庭教師との相性があります。<br>
      スタディパートナーでは現役大学生の中でも「楽しく勉強できる！」「理解できるまで何度でも教えてもらえる！」先生にこだわっています。<br>
      何人でも何通でもメッセージをお送りすることができますので、お子さんの性格や趣味に合わせて、ベストパートナーを見つけてみてください！
    </p>
  <%= link_to "家庭教師を探してみる", " /teachers/index",class:"btn-square-shadow" %>
</div>




<div class="recruit-wrapper">
  <h4>家庭教師募集中</h4>
    <h6>生徒に勉強の楽しさを教えてあげられる先生<br>
    生徒の気持ちを理解し、根気強く向き合える先生を募集しています</h6>
    
    <%= link_to "家庭教師に登録する", "/teachers/signup", class:"btn-square-shadow" %>
</div>
